<html>
<head>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<div id="root"></div>

<body>
<script>window.__POST__ = {{{post}}}</script>
<script src="/dist/app/index.js"></script>
</body>

</html>
